Plugin.Abstraction/.vs/Plugin.Abstraction/v17/.suo
Plugin.Abstraction/.vs/Plugin.Abstraction/v17/.futdcache.v2
Plugin.Abstraction/.vs/Plugin.Abstraction/FileContentIndex/5e9d2707-ab21-4b98-90cd-91e31787687e.vsidx
Plugin.Abstraction/.vs/Plugin.Abstraction/DesignTimeBuild/.dtbcache.v2
Plugin.Abstraction/.vs/ProjectEvaluation/plugin.abstraction.metadata.v7.bin
Plugin.Abstraction/.vs/ProjectEvaluation/plugin.abstraction.projects.v7.bin
