Plugin.Abstraction/.vs/Plugin.Abstraction/v17/.suo
Plugin.Abstraction/.vs/Plugin.Abstraction/v17/.futdcache.v2
Plugin.Abstraction/.vs/Plugin.Abstraction/FileContentIndex/5e9d2707-ab21-4b98-90cd-91e31787687e.vsidx
Plugin.Abstraction/.vs/Plugin.Abstraction/DesignTimeBuild/.dtbcache.v2
Plugin.Abstraction/.vs/ProjectEvaluation/plugin.abstraction.metadata.v7.bin
Plugin.Abstraction/.vs/ProjectEvaluation/plugin.abstraction.projects.v7.bin
/.vs/Plugin.Abstraction/FileContentIndex
/.vs/Plugin.Abstraction/v17
/Plugin.Abstraction/Plugin.Abstraction/bin/Debug/netstandard2.1
/Plugin.Core/bin/Debug/netstandard2.1
/Plugin.Core/obj/Debug/netstandard2.1
/Plugin.Core/obj
/PluginDemoWeb/bin/Debug/net8.0
/ProjectModule/bin/Debug/net8.0
/PluginDemoWeb/obj
/ProjectModule/obj/Debug/net8.0
/ProjectModule/obj
/Plugin.Abstraction/Plugin.Abstraction/obj/Plugin.Abstraction.csproj.nuget.dgspec.json
/Plugin.Abstraction/Plugin.Abstraction/obj/Plugin.Abstraction.csproj.nuget.g.props
/Plugin.Abstraction/Plugin.Abstraction/obj/Plugin.Abstraction.csproj.nuget.g.targets
/Plugin.Abstraction/Plugin.Abstraction/obj/project.assets.json
/Plugin.Abstraction/Plugin.Abstraction/obj/project.nuget.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.AssemblyInfo.cs
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.AssemblyInfoInputs.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.assets.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.csproj.AssemblyReference.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.csproj.CoreCompileInputs.cache
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.csproj.FileListAbsolute.txt
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.dll
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.pdb
/Plugin.Abstraction/Plugin.Abstraction/obj/Debug/netstandard2.1/Plugin.Abstraction.sourcelink.json
